$color-border:gray;

.labelField{
    padding-right:0.4rem;
}

.confirmOrderWrap {
    border-bottom: 1px solid $color-border;
    display: flex;
    flex-direction: column;
}
  
//   .fund {
//     display: flex;
//     padding: $pad-xs $pad-sm;
//     font-weight: $font-bold;
//     font-size: $font-size-lg;
//     color: $CAL;
//     flex-wrap: wrap;
//     overflow: hidden;
//     border-bottom: 2px solid $CAL;
//     margin-bottom: $pad-md;
//     margin-top: 20px;
//   }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    //padding: $pad-sm;
    background-color: rgba(0, 0, 0, 0.04);
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
    
  .form {
    // Fix IE11 overflowing
    overflow: hidden;
    border-left: 0 solid gray;
  }

  .accountInfo {
      font-weight: bold;
  }
  
//   .accountInfo {
//     font-weight: $font-medium;
//     color: $text-color-light;
//     font-size: $font-size-sm;
//   }
  
  %field {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .account {
    @extend %field;
    width: 300px;
    max-width: 300px;
  }
  
  .currencyField {
    @extend %field;
    width: 200px;
    max-width: 200px;
  }
  
  .numericField {
    @extend %field;
    width: 150px;
    max-width: 150px;
  }
  
  .percentageField {
    @extend %field;
    width: 150px;
    max-width: 150px;
  }
  
  .spaceBetween {
    justify-content: space-between;
  }
  
  .settlementFields {
    max-width: 500px;
    word-break: break-word;
  }
  
//   .warning {
//     color: $color-warn;
//     margin-left: $pad-sm;
//   }
